body {
    user-select: none;
    background: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#header-container {
    color: #fff;

    height: 80vh;
    position: inherit;
    top: 0;
    left: 0;
    z-index: -1;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    font-size: 3rem;
}

#name {
    color: #f00;
}

canvas {
    width: 100%;
    height: 90vh;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#projects-title {
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;

    text-align: center;
    font-weight: bold;
}

#projects {
    margin: 1em;
    padding: 1em;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.project-link {
    text-decoration: none;

    background: #6663;
    border-radius: 5%;
    color: #FFF;
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 128px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: height 300ms ease;
}

.project-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.1em;
}

.project-stats {
    display: none;
}

.project-description {
    font-size: 1em;
    text-align: center;
    padding: 0.1em;
}

.project-updated {
    font-size: 0.8em;
    text-align: center;
    color: #666;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.project-link:hover .project-image {
    height: 240px;
}