body {
    user-select: none;
    background: radial-gradient(circle, #222, #111);
    font-family: 'Roboto', sans-serif;
}

#projects {
    padding: 1em;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.project {
    background: #0003;
    border-radius: 5%;
    color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}

.project-link {
    text-decoration: none;
}

.project-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.project-description {
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
}

.project-updated {
    font-size: 0.8em;
    text-align: center;
    color: #FFF;
}